.sidenav-container {
  height: 100vh;
}
.sidenav {
  width: 200px;
  background-color: #f3f4f6;
}
.logo-container {
  padding: 16px;
  display: flex;
  justify-content: center;
}
.logo-img {
  width: 120px;
}
.content {
  padding: 24px;
}
